<center>
	<form>
		<p>zone-texte1:<br/><input name="first_paragraphe"/></p>
		<p>zone-texte2:<br/><input name="second_paragraphe"/></p>
		<input hidden name="base" value="{{ base }}" />
		<p><input type="submit" /></p>
	</form>
</center>