{% extends "base.html.twig" %}

{% block content %}
	{% for picture in pictures %}
		<a href="meme_{{ picture['file_name']|replace({'.jpg': ""}) }}">
			<img src="assets/img/{{ picture['file_name'] }}" alt="{{ picture['file_name'] }}">
		</a>
	{% endfor %}
{% endblock %}